name: Format Check

on:
  pull_request:
    branches: [ main ]

jobs:
  python-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install black
        run: pip install black

      - name: Check Python formatting in backend
        run: black --check .
        working-directory: ./backend

      - name: Check Python formatting in playwright
        run: black --check .
        working-directory: ./playwright

      - name: Check Python formatting in vision-ai
        run: black --check .
        working-directory: ./vision-ai

  js-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install prettier
        run: npm install
        working-directory: ./frontend

      - name: Check JS formatting
        run: npx prettier --check .
        working-directory: ./frontend
